<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcelo.mn_moviles_examen_1b">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListarSOActivity" />
        <activity android:name=".DetalleSOActivity" />
        <activity android:name=".CrearSoActivity" />
        <activity android:name=".CrearAppActivity" />
        <activity android:name=".DetalleAppActivity"></activity>
    </application>

</manifest>